#input {
  display: flex;
  justify-content: center;
  margin-bottom: 26px;
}
#inputTodo {
  width: 85%;
  font-size: 20px;
  margin-right: 10px;
}
#addButton {
  appearance: none;
  width: 15%;
  height: 35px;
  font-size: 16px;
}
